#priceRange {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#priceRange #biggestPrice {
    margin-left: 10px;
}

#minmax{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight:bold;
}

html, body {
    height: 100%
}

#wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
}

footer {
    position: relative;
    transform: translatY(-100%);
}